[submodule "fzf.vim"]
	path = vim/pack/misc/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	ignore = dirty
[submodule "python_match.vim"]
	path = vim/pack/coding/opt/python_match.vim
	url = https://github.com/vim-scripts/python_match.vim
	ignore = dirty
[submodule "syntax-vim-ex"]
	path = vim/pack/coding/opt/syntax-vim-ex
	url = https://github.com/vim-jp/syntax-vim-ex
	ignore = dirty
[submodule "thesaurus_query.vim"]
	path = vim/pack/misc/opt/thesaurus_query.vim
	url = https://github.com/Ron89/thesaurus_query.vim
	ignore = dirty
[submodule "ultisnips"]
	path = vim/pack/completion/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
	ignore = dirty
[submodule "vim-commentary"]
	path = vim/pack/misc/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = dirty
[submodule "vim-cursorword"]
	path = vim/pack/misc/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword
	ignore = dirty
[submodule "vim-easy-align"]
	path = vim/pack/misc/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
	ignore = dirty
[submodule "vim-eunuch"]
	path = vim/pack/misc/start/vim-eunuch
	url = git@github.com:matthsims/vim-eunuch.git
	ignore = dirty
[submodule "vim-exchange"]
	path = vim/pack/misc/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
	ignore = dirty
[submodule "vim-fugitive"]
	path = vim/pack/misc/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "vim-gutentags"]
	path = vim/pack/coding/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
	ignore = dirty
[submodule "vim-highlightedyank"]
	path = vim/pack/misc/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
	ignore = dirty
[submodule "vim-pandoc"]
	path = vim/pack/misc/opt/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
	ignore = dirty
[submodule "vim-pandoc-syntax"]
	path = vim/pack/misc/opt/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
	ignore = dirty
[submodule "vim-python-pep8-indent"]
	path = vim/pack/coding/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
	ignore = dirty
[submodule "vim-repeat"]
	path = vim/pack/misc/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = dirty
[submodule "vim-sneak"]
	path = vim/pack/misc/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
	ignore = dirty
[submodule "vim-surround"]
	path = vim/pack/misc/start/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim-unimpaired"]
	path = vim/pack/misc/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "vim-yass"]
	path = vim/pack/misc/opt/vim-yass
	url = git@github.com:matthsims/vim-yass.git
	ignore = dirty
[submodule "targets.vim"]
	path = vim/pack/misc/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
	ignore = dirty
[submodule "vim-buftabline"]
	path = vim/pack/misc/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "ale"]
	path = vim/pack/coding/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim-pythonsense"]
	path = vim/pack/coding/opt/vim-pythonsense
	url = https://github.com/jeetsukumaran/vim-pythonsense.git
[submodule "vim-filebeagle"]
	path = vim/pack/misc/start/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle.git
[submodule "vim-tmux-navigator"]
	path = vim/pack/misc/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "undotree"]
	path = vim/pack/misc/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim-signify"]
	path = vim/pack/misc/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "nvim-yarp"]
	path = vim/pack/completion/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "ncm2"]
	path = vim/pack/completion/opt/ncm2
	url = https://github.com/ncm2/ncm2.git
[submodule "ncm2-jedi"]
	path = vim/pack/completion/opt/ncm2-jedi
	url = https://github.com/ncm2/ncm2-jedi.git
[submodule "ncm2-bufword"]
	path = vim/pack/completion/opt/ncm2-bufword
	url = https://github.com/ncm2/ncm2-bufword.git
[submodule "ncm2-path"]
	path = vim/pack/completion/opt/ncm2-path
	url = https://github.com/ncm2/ncm2-path.git
[submodule "ncm2-tmux"]
	path = vim/pack/completion/opt/ncm2-tmux
	url = https://github.com/ncm2/ncm2-tmux.git
[submodule "ncm2-tagprefix"]
	path = vim/pack/completion/opt/ncm2-tagprefix
	url = https://github.com/ncm2/ncm2-tagprefix.git
[submodule "ncm2-syntax"]
	path = vim/pack/completion/opt/ncm2-syntax
	url = https://github.com/ncm2/ncm2-syntax.git
[submodule "neco-syntax"]
	path = vim/pack/completion/opt/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule "ncm2-markdown-subscope"]
	path = vim/pack/completion/opt/ncm2-markdown-subscope
	url = https://github.com/ncm2/ncm2-markdown-subscope.git
[submodule "ncm2-highprio-pop"]
	path = vim/pack/completion/opt/ncm2-highprio-pop
	url = https://github.com/ncm2/ncm2-highprio-pop.git
[submodule "ncm2-ultisnips"]
	path = vim/pack/completion/opt/ncm2-ultisnips
	url = https://github.com/ncm2/ncm2-ultisnips.git
[submodule "ncm2-look.vim"]
	path = vim/pack/completion/opt/ncm2-look.vim
	url = https://github.com/filipekiss/ncm2-look.vim.git
